<!doctype html>
<html>

    <head>
        <meta charset="utf-8">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="/static/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="/static/reveal.js/css/theme/night.css" id="theme">

        <link rel="stylesheet" href="/static/reveal.js/lib/css/zenburn.css">
    </head>

    <body>
        <div class="reveal">
            <div class="slides">

                <section data-markdown="{{ raw_md }}" data-separator="^\r\n\r\n\r\n" data-separator-vertical="^\r\n\r\n"></section>

            </div>
        </div>
        <script src="/static/reveal.js/lib/js/head.min.js"></script>
        <script src="/static/reveal.js/js/reveal.js"></script>

        <script>

            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: '/static/reveal.js/lib/js/classList.js', condition: function () { return !document.body.classList; } },
                    { src: '/static/reveal.js/plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                    { src: '/static/reveal.js/plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                    { src: '/static/reveal.js/plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
                    { src: '/static/reveal.js/plugin/notes/notes.js' }
                ]
            });

        </script>
    </body>

</html>